# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.buildlog/
.melos_tool/
.metadata

# Build outputs
build/
**/build/
generated_plugin_registrant.dart
.flutter-*

# VS Code
.vscode/
*.code-workspace

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# iOS & macOS
ios/Flutter/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Flutter.podspec
ios/Flutter/Generated.xcconfig
macos/Flutter/
macos/Pods/
macos/.symlinks/
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/xcuserdata/
macos/Runner.xcodeproj/project.xcworkspace/
macos/Runner.xcworkspace/xcuserdata/

# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser

# Android
android/.gradle/
android/.idea/
android/.settings/
android/local.properties
android/key.properties
android/build/

# System
.DS_Store
Thumbs.db

# Logs, backups
*.log
*.tmp
*.bak

# Environment
.env
